.blog-container {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 1rem 2rem 2rem 2rem;
}

@media (max-width: 767px) {
    .blog-container {
        padding: 15px;
    }
}